<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="LogFileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TraceLog.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="DirPdf" value="repspdf" />
    <add key="ExcelOriginPath" value="C:\\Users\\Developer\\source\\repos\\ExcelGroupToPDF\\ExcelGroupToPDF\\bin\\Release\\" />
    <add key="ExcelOriginFileName" value="_ALP_OpenOrderCSR_TEST_NoParams.xls" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>